<h1>Hi {{name}} 👋</h1>
<p>You now are now the lead of<strong> {{teamName}}</strong>! If you had added teammates when
    registering they would have received a mail from us with an invite link to join the team.
</p>
<p>
    You can start building your cool project at
    <strong>6 PM </strong>this Saturday. Please remember to push your changes frequently to your
    <a href='{{repoUrl}}'>repo</a>
    as our team will be monitoring it. The hack night will end at
    <strong>11 PM</strong>
    and we will only be considering commits till then for judgment.
</p>
<p>&nbsp;</p>
<p style='margin-left: 40px;'><strong>Your Team ID</strong>:&nbsp;{{teamID}}</p><p
    style='margin-left: 40px;'
><strong>This is the invite link for your team</strong>:
    <a href='https://hacknight.tinkerhub.org/join?eventID={{eventID}}&teamID={{teamID}}'>join team</a></p>
<br /><p>If you have any further queries feel free to reach out to us on our discord server or reply
    to this mail.</p>
<br /><p>Happy Building...</p>